server {
    listen 80;
    server_name gute-nachrichten.info;

    # Для Let's Encrypt Challenge
    location /.well-known/acme-challenge/ {
        root /opt/bitnami/nginx/html;
        allow all;
        try_files $uri =404;
    }

    # Временный root для проверки
    location / {
        root /opt/bitnami/nginx/html;
        index index.html;
    }
}
